{% extends 'registration/base.html' %}
{% load bootstrap4 %}
{% block content %}
{% load static %}
<div class="container mt-4">
    <div class="row" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBK8Xc2SQ2lBVxo4lEDiZaryfDLzp-b6Bj5g&usqp=CAU');background-repeat: no-repeat;background-size:cover;background-position:center center;">
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
    
        
        <div class="col-md-4 mt-4">
            <div class="card " style="border-radius:0px;opacity:0.6;border:1px solid gray;border-radius:20px;">
                <div class="card-title  text-center" style="font-weight: bold;">
                    𝓘𝓷𝓼𝓽𝓪𝓰𝓻𝓪𝓶 
                    
                </div>
                <div class="card-body mb-3 mr-3 ml-3">
                    <form action="" method="post" novalidate>
                        {% csrf_token%}
                        {% bootstrap_form form layout='inline' %}
                        <button type="submit" class="btn btn-outline-primary btn-sm D-block mx-auto"> Log In</button>
                    </form>
                </div>
                <a href="" class="D-block mx-auto mb-3">Forgot password? </a>
                <div class="card-footer mt-3 mb-3 mr-2 ml-4">
                  Don't have an account? <a href="/accounts/register">Sign up</a>
                </div>
            </div>
            <div class=""></div> 
            <div container>
               
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5 mb-2">
                        <img src="/media/512x512.png" alt="" width="100%" class="download">
                    </div>
                    <div class="col-md-5 mb-2">
                        <img src="/media/512x512one.png" alt="" width="100%" class="download">
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

{% endblock %}